<h2>Detalles del Producto</h2>
<hr>

<h3>{{title}}</h3>
<p>{{descrip}}</p>
<p>Precio: ${{price}}</p>
<p>Categoría: {{category}}</p>
<p>Stock: {{stock}}</p>


    <button type="submit">Agregar al carrito</button>


<a href="/products">Volver a la lista de productos</a>